<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
  </ion-toolbar>

  <ion-buttons>
    <button io-button icon-only (click)="addEvent()">
      <ion-icon name="add">  </ion-icon>
    </button>
  </ion-buttons>
</ion-header>

<ion-content>

    <calendar [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30" class= "calendar">
    </calendar>

</ion-content>
